<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="gifs">
        <div>
          <img src="../../../content/images/gifwise6.gif" width="12%" />
          <img src="../../../content/images/gifwise6.gif" width="12%" />
          <img src="../../../content/images/gifwise6.gif" width="12%" />
        </div>
      </div>
      <div class="mail">
        <p>jccwise@gmail.com</p>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by <a href="#">Wisemblem</a>.</p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="instagram" href="https://www.instagram.com/wisemblem/"><i class="fa fa-instagram"></i></a>
          </li>
          <li>
            <a class="twitter" href=""><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="google" href="https://www.google.com/"><i class="fa fa-google"></i></a>
          </li>
          <li>
            <a class="linkedin" href="https://www.linkedin.com/in/juanantoniogoncalvesrodrigues/"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
