<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-venta-heading" data-cy="VentaCreateUpdateHeading" jhiTranslate="wiseshitApp.venta.home.createOrEditLabel">
        Create or edit a Venta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.venta.importe" for="field_importe">Importe</label>
          <input type="number" class="form-control" name="importe" id="field_importe" data-cy="importe" formControlName="importe" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.venta.fecha" for="field_fecha">Fecha</label>
          <div class="d-flex">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="datetime-local"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="wiseshitApp.venta.camisetas" for="field_camisetas">Camisetas</label>
          <select class="form-control" id="field_camisetas" data-cy="camisetas" multiple name="camisetas" formControlName="camisetas">
            <option
              [ngValue]="getSelectedCamisetas(camisetasOption, editForm.get('camisetas')!.value)"
              *ngFor="let camisetasOption of camisetasSharedCollection; trackBy: trackCamisetasById"
            >
              {{ camisetasOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="wiseshitApp.venta.sudaderas" for="field_sudaderas">Sudaderas</label>
          <select class="form-control" id="field_sudaderas" data-cy="sudaderas" multiple name="sudaderas" formControlName="sudaderas">
            <option
              [ngValue]="getSelectedSudaderas(sudaderasOption, editForm.get('sudaderas')!.value)"
              *ngFor="let sudaderasOption of sudaderasSharedCollection; trackBy: trackSudaderasById"
            >
              {{ sudaderasOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label jhiTranslate="wiseshitApp.venta.accesorios" for="field_accesorios">Accesorios</label>
          <select class="form-control" id="field_accesorios" data-cy="accesorios" multiple name="accesorios" formControlName="accesorios">
            <option
              [ngValue]="getSelectedAccesorios(accesoriosOption, editForm.get('accesorios')!.value)"
              *ngFor="let accesoriosOption of accesoriosSharedCollection; trackBy: trackAccesoriosById"
            >
              {{ accesoriosOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.venta.usuario" for="field_usuario">Usuario</label>
          <select class="form-control" id="field_usuario" data-cy="usuario" name="usuario" formControlName="usuario">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuarioOption.id === editForm.get('usuario')!.value?.id ? editForm.get('usuario')!.value : usuarioOption"
              *ngFor="let usuarioOption of usuariosSharedCollection; trackBy: trackUsuarioById"
            >
              {{ usuarioOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
