.botones {
  margin-right: 1%;
}
.jj {
  margin-top: 1%;
}
/* ==============================================================
BUSCADOR
===============================================================*/

.buscador {
  float: right;
}
.buscador input {
  font-size: medium;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
