<div>
  <h2 id="page-heading" data-cy="CamisetasHeading">
    <span jhiTranslate="wiseshitApp.camisetas.home.title">Camisetas</span>

    <div class="buscador">
      <input placeholder="Search" [(ngModel)]="searchTerm" type="text" class="buscador" name="searchTerm" id="buscador" />
    </div>

    <div class="d-flex justify-content-end jj">
      <!-- <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wiseshitApp.camisetas.home.refreshListLabel">Refresh List</span>
      </button> -->

      <button class="btn btn-dark botones" [disabled]="isLoading">
        <span jhiTranslate="wiseshitApp.camisetas.home.All"> All </span>
      </button>
      <button class="btn btn-dark botones" [disabled]="isLoading">
        <span jhiTranslate="wiseshitApp.camisetas.home.Available"> Available </span>
      </button>
      <button class="btn btn-dark botones" [disabled]="isLoading">
        <span jhiTranslate="wiseshitApp.camisetas.home.SoldOut"> Sold Out </span>
      </button>

      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-outline-dark" [routerLink]="['/camisetas/new']">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="wiseshitApp.camisetas.home.createLabel"> Create a new Camisetas </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="camisetas?.length === 0">
    <span jhiTranslate="wiseshitApp.camisetas.home.notFound">No camisetas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="camisetas && camisetas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="stock">
            <span jhiTranslate="wiseshitApp.camisetas.stock">Stock</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="imagen">
            <span jhiTranslate="wiseshitApp.camisetas.imagen">Imagen</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="talla">
            <span jhiTranslate="wiseshitApp.camisetas.talla">Talla</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="color">
            <span jhiTranslate="wiseshitApp.camisetas.color">Color</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coleccion">
            <span jhiTranslate="wiseshitApp.camisetas.coleccion">Coleccion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let camisetas of camisetas | camisetasFilter: searchTerm; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/camisetas', camisetas.id, 'view']">{{ camisetas.id }}</a>
          </td>
          <td>{{ camisetas.stock }}</td>
          <td>{{ camisetas.imagen }}</td>
          <td>{{ camisetas.talla }}</td>
          <td>{{ camisetas.color }}</td>
          <td>{{ camisetas.coleccion }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/camisetas', camisetas.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/camisetas', camisetas.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(camisetas)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="camisetas && camisetas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
