<div class="row">
  <div class="slider">
    <img class="estos" src="../../../../content/images/ambiente/sudaderapa1.jpg" />
    <img class="rc" src="../../../../content/images/ambiente/sudaderapa2.jpg" />
  </div>
  <div class="mieldaloco">
    <div class="card mb-1 camisetaVista">
      <img
        src="../../../../content/images/sudaderas/samarilla_delante.jpg"
        onmouseout="this.src='../../../../content/images/sudaderas/samarilla_delante.jpg'"
        onmouseover="this.src='../../../../content/images/sudaderas/samarilla_detras.jpg'"
      />
      <div class="cardbody">
        <div class="ncami">
          <p>URÓBOROS</p>
        </div>
        <div class="pcami">
          <p>24 EUR</p>
        </div>
      </div>
    </div>
    <div class="card mb-1 camisetaVista">
      <img
        src="../../../../content/images/sudaderas/sazul_delante.jpg"
        onmouseout="this.src='../../../../content/images/sudaderas/sazul_delante.jpg'"
        onmouseover="this.src='../../../../content/images/sudaderas/sazul_detras.jpg'"
      />
      <div class="cardbody">
        <div class="ncami">
          <p>URÓBOROS</p>
        </div>
        <div class="pcami">
          <p>24 EUR</p>
        </div>
      </div>
    </div>
    <div class="card mb-1 camisetaVista">
      <img
        src="../../../../content/images/sudaderas/snaranja_delante.jpg"
        onmouseout="this.src='../../../../content/images/sudaderas/snaranja_delante.jpg'"
        onmouseover="this.src='../../../../content/images/sudaderas/snaranja_detras.jpg'"
      />
      <div class="cardbody">
        <div class="ncami">
          <p>URÓBOROS</p>
        </div>
        <div class="pcami">
          <p>24 EUR</p>
        </div>
      </div>
    </div>
    <div class="card mb-1 camisetaVista">
      <img
        src="../../../../content/images/sudaderas/sgranate_delante.jpg"
        onmouseout="this.src='../../../../content/images/sudaderas/sgranate_delante.jpg'"
        onmouseover="this.src='../../../../content/images/sudaderas/sgranate_detras.jpg'"
      />
      <div class="cardbody">
        <div class="ncami">
          <p>URÓBOROS</p>
        </div>
        <div class="pcami">
          <p>24 EUR</p>
        </div>
      </div>
    </div>
  </div>
</div>
