<div class="mieldaloco">
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">precio</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/blanca_detras.jpg" />
    <div class="card-body">
      <p class="card-text">precio</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/rosa_detras.jpg" />
    <div class="card-body">
      <p class="card-text">precio</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/rosa_detras.jpg" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/Verde_detras.jpg" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card mb-2 camisetaVista">
    <img src="../../../../content/images/camisetas/azul_atras.png" />
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
