// FOTOS
.slider {
  margin-bottom: 10%;
}
.estos {
  width: 63%;
  float: left;
  margin-left: 3%;
}
.rc {
  width: 28%;
}

//CAMIS
.camisetaVista {
  width: 30%;
  float: left;
  margin-left: 2%;
}
.mieldaloco {
  width: 100%;
  display: inline-block;
}
.p {
  font-family: Arial, Helvetica, sans-serif;
}
.ncami {
}
.pcami {
}
.cardbody {
  margin-left: 10%;
}
