<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-usuario-heading" data-cy="UsuarioCreateUpdateHeading" jhiTranslate="wiseshitApp.usuario.home.createOrEditLabel">
        Create or edit a Usuario
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.usuario.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.usuario.apellido" for="field_apellido">Apellido</label>
          <input type="text" class="form-control" name="apellido" id="field_apellido" data-cy="apellido" formControlName="apellido" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.usuario.correo" for="field_correo">Correo</label>
          <input type="text" class="form-control" name="correo" id="field_correo" data-cy="correo" formControlName="correo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.usuario.numeroTelefono" for="field_numeroTelefono"
            >Numero Telefono</label
          >
          <input
            type="number"
            class="form-control"
            name="numeroTelefono"
            id="field_numeroTelefono"
            data-cy="numeroTelefono"
            formControlName="numeroTelefono"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.usuario.direccion" for="field_direccion">Direccion</label>
          <input type="text" class="form-control" name="direccion" id="field_direccion" data-cy="direccion" formControlName="direccion" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="wiseshitApp.usuario.codigoPostal" for="field_codigoPostal">Codigo Postal</label>
          <input
            type="number"
            class="form-control"
            name="codigoPostal"
            id="field_codigoPostal"
            data-cy="codigoPostal"
            formControlName="codigoPostal"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
