@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/sandstone/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Main page styles
========================================================================== */
.row {
  display: inline-block;
}
.slider {
  width: auto;
  display: inline-block;
  padding-left: 16%;
}
.tbuno img {
  width: 28%;
  float: left;
}

.camisetasindex {
  margin-top: 5%;
  margin-left: 8%;
  height: 450px;
  display: inline-block;
}
.cami {
  float: left;
  height: 400px;
}
.cami img {
  height: 95%;
}

.bigmid {
  width: 100%;
}
.bigmid img {
  width: 50%;
  margin-left: 25%;
}

.yellowmat {
  float: right;
}

.yellowmat img {
  float: right;
  margin-left: 1%;
  width: 35%;
}

// .hipster {
//   display: inline-block;
//   width: 347px;
//   height: 497px;
//   background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
//   background-size: contain;
// }

// /* wait autoprefixer update to allow simple generation of high pixel density media query */
// @media only screen and (-webkit-min-device-pixel-ratio: 2),
//   only screen and (-moz-min-device-pixel-ratio: 2),
//   only screen and (-o-min-device-pixel-ratio: 2/1),
//   only screen and (min-resolution: 192dpi),
//   only screen and (min-resolution: 2dppx) {
//   .hipster {
//     background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
//     background-size: contain;
//   }
// }
