@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/sandstone/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Main page styles
========================================================================== */

.slider {
  width: auto;
  display: inline-block;
  padding-left: 16%;
}
.tbuno img {
  width: 28%;
  float: left;
}

.leftdiv img {
  margin-top: 10%;
  padding-left: 80px;
  width: 60%;
}

// .hipster {
//   display: inline-block;
//   width: 347px;
//   height: 497px;
//   background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
//   background-size: contain;
// }

// /* wait autoprefixer update to allow simple generation of high pixel density media query */
// @media only screen and (-webkit-min-device-pixel-ratio: 2),
//   only screen and (-moz-min-device-pixel-ratio: 2),
//   only screen and (-o-min-device-pixel-ratio: 2/1),
//   only screen and (min-resolution: 192dpi),
//   only screen and (min-resolution: 2dppx) {
//   .hipster {
//     background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
//     background-size: contain;
//   }
// }
